// Font Family
// $main-font: 'gordita';
// var(--eb_garamond-font): 'EB Garamond', serif;

// Color Settings
$text-color: rgba(0, 0, 0, 0.7);
$text-dark: #000;
$heading: #2e5a83;
$light-bg: #eff6f3;
$color-one: #24425f;
$color-two: #53acff;
$color-three: #047ef2;
$color-four: #00498d;
$color-five: #225b91;
